body {
        position: relative;
        
        font-family: -apple-system-font, "Helvetica Neue", Helvetica, sans-serif;
        

        min-width:1000px;
        max-width:1200px;
        min-height:100vh;

        margin:0 auto
}

body.promo {
        display:block;
        position: relative;
        overflow:hidden;
        
        font-family: -apple-system-font, "HelveticaNeue-Light","Helvetica Neue",Helvetica,sans-serif;
        font-weight:normal;

        background-color:#fff;

        min-width:0;
        max-width: 1000px;
        min-height: 100vh;
        
        padding-left:60px;
        margin: 0 auto 0 0
}

body.promo .info {
        display: table; /* unless you want to declare a height */
        position: fixed;
        
        width:45%;
        
    	margin:auto 0;
    	
    	top: 0;
        bottom: 0;
        left:60px
}

body.promo .info p {
        margin:30px 10px 30px 0
}

body.promo .hero img {
        position:absolute;
        
        width:70%;
        height:auto;

        margin: auto;

        top:0;
        right:-35%;
        bottom:0
}

body.promo .info h1 {
        display: block;

        font-size: 2em;
        font-weight: normal;
        
        margin-top: 30px;
        margin-bottom: 30px;
        margin-left: 0;
        margin-right: 0
}

h1 {
        font-weight:normal
}

body.promo a[role=button] {
        display: inline-block;
        box-sizing: border-box;

        background-color:#fff;
        color:#000;
        text-decoration:none;

        padding:8px 15px;
        margin-right:5px;
        margin-bottom:30px;
        
        border: 2px solid #ececec;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px
}

body.promo a[role=button]:hover {
        background-color:#ececec
}

body.promo a[role=button].action {
        background-color:#007aff;
        color:#fff;
        border-color:#007aff
}

body.promo a[role=button].action:hover {
        background-color:#005aff;
        border-color:#005aff
}

.link {
        color:#747474;
        text-decoration:none
}

.link:hover {
        text-decoration:underline
}

.container {
        display:inline-block;

        width:700px;
        max-width:1000px;
        
        padding:35px 10px 25px 20px
}

.main {
        display:inline-block;

        font-size:11px;
        font-weight:300;

        width:740px;
        max-width:1000px;

        padding:0;
        margin:0 0 0 20px
}

.side {
        display:inline-block;
        position:absolute;

        font-size:11px;
        font-weight:300;
        
        width:210px;
        
        right:0px
}

label {
        display:block;
        
        font-size:13px;
        color:#53565e;

        margin-top:30px
}

.side div label {
        display:block;

        font-size:11px;
        color:#747474;
        
        margin-top:6px
}

.side div label p {
        display:inline;

        color:#000
}

.side hr,.main hr {
        float:left;

        width:190px;

        padding:0;
        margin:5px 0;

        border:1px solid #d1d2d3;
        border-left:none;
        border-right:none;
        border-bottom:none

}

.main hr {
        width:100%
}

.side .links {
        margin-top:90px
}

.side .links a[role=button] {
        display: inline-block;
        box-sizing: border-box;

        font-size:11px;
        color:#747474;
        text-decoration:none;

        width:210px;

        padding:10px 10px;
        margin:0;

        background-image: url('chevron.svg');
        background-position:195px center;
        background-repeat: no-repeat;
        -webkit-background-size: 6px 9px;
        background-size: 6px 9px
}

.side .links a[role=button]:hover {
        text-decoration:underline
}

.side .moreby a {
        display:block;

        height:40px;
        
        margin-top:10px;
        margin-bottom:10px
}

.side .moreby a img {
        display:inline-block;
        
        width:38px;
        height:38px
}

.side .moreby a div {
        display:inline-block;
        vertical-align:top;
        
        text-decoration:none;

        max-width:130px;
        
        margin-left:5px
}

.side .moreby a label {
        display:block;
        
        font-size:11px;
        color:#000;

        margin:0
}

.side .moreby a label:hover {
        text-decoration:underline;
}

.side .moreby a p {
        display:block;

        font-size:10px;
        color:#747474;
        
        margin:0
}

label.title {
        display:inline-block;
 
        font-weight:normal;
        font-size:24px;
        
        color:#000;

        margin:0
}

.icon img {
        width:140px;
        height:140px;

        margin-bottom:14px
}

.essential {
        display:inline-block;
        
        width:180px;
        
        text-align:center;

        margin:0
}

.moreinfo {
        display:inline-block;
        vertical-align:top;
        
        width:470px;
        max-width:700px;
        
        margin:0 0 0 10px
}

.moreinfo article {
        font-size:12px;
        font-weight:normal;
        line-height: 16px;
        
        margin-top:10px
}

.moreinfo a[role=button].age {
        display:inline-block;
        
        font-size:10px;
        color:#747474;

        border:1px solid #747474;

        padding-top:1px;
        padding-bottom:1px;
        padding-left:3px;
        padding-right:3px
}

a[role=button].package {
        display: inline-block;
        box-sizing: border-box;

        font-size:14px;
        color:#000;
        background-color:#fff;
        text-decoration:none;
        
        padding:2px 10px;
        margin:0;
        
        border: 1px solid #ececec;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px
}

#paid {
        color:#fff;
        background-color:#007aff;
        border-color:#007aff
}

#paid:after {
        content: '$9.99'
}

#paid:hover {
        color:#007aff;
        background-color:#fff;
        border-color:#007aff
}

#paid:hover:after {
        content: 'BUY'
}

#free {
        color:#007aff;
        background-color:#fff;
        border-color:#007aff
}

#free:after {
        content: 'GET'
}

#free:hover {
        color:#00cc00;
        background-color:#fff;
        border-color:#00cc00
}

#free:hover:after {
        content: 'INSTALL'
}

#modify {
        color:orange;
        background-color:#fff;
        border-color:orange
}

#modify:after {
        content: 'MODIFY'
}

#modify:hover {
        color:#fff;
        background-color:#ff3a2d;
        border-color:#ff3a2d
}

#modify:hover:after {
        content: 'REMOVE'
}

#update {
        color:#007aff;
        background-color:#fff;
        border-color:#007aff
}

#update:after {
        content: 'UPDATE'
}
