doctype html
html(lang="en")
        head
                base(target="_top")

                title Welcome to Chariz

                link(rel="stylesheet", href="/stylia/style.css")

                meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
                meta(name="format-detection", content="telephone=no")

                link(rel="shortcut icon", href="/icon@2x/cynthia.png")
                link(rel="apple-touch-icon", href="/icon@2x/cynthia.png")

                script(src="/stylia/style.js")

        body(class="promo")
                .info
                        h1 What is Chariz?

                        p Chariz is a store for OS X containing tweaks, themes, developer tools, and more.
                        p Based on top of the proven Debian Packager (dpkg) and Advanced Packaging Tool (APT) technologies, Chariz makes it easy to install software effortlessly and get the most out of your Mac.

                        a.action(href="", role="button") Coming Soon

                        a(href="/learn", role="button") Learn More

                .hero
                        img(src="/icon@2x/chariz.png")