extends layout

block body
	body.promo
		block content
			.info
				h1 What is Chariz?
				p Chariz is a store for OS X containing tweaks, themes, developer tools, and more.
				p Based on top of the proven Debian Packager (dpkg) and Advanced Packaging Tool (APT) technologies, Chariz makes it easy to install software effortlessly and get the most out of your Mac.
				a.action(href="", role="button") Coming Soon
				a(href="/learn", role="button") Learn More

			.hero
				img(src="/hero/IntroHeroWelcome.png", srcset="/hero/IntroHeroWelcome@2x.png 2x")