body {
    position: relative;

/*  font-family: -apple-system-font; */
    font-family: "Helvetica Neue", Helvetica, sans-serif;
        
    min-width: 1000px;
    max-width: 1200px;
    min-height: 100vh;

    margin: 0 auto;
}

body.promo {
    display: block;
    position: relative;
    overflow: hidden;

/*  font-family: -apple-system-font; */
    font-family: "HelveticaNeue-Light", "Helvetica Neue", Helvetica, sans-serif;
    font-weight: normal;

    background-color: #fff;

    min-width: 0;
    max-width: 1000px;
    min-height: 100vh;
        
    padding-left: 60px;
    margin: 0 auto 0 0;
}

body.promo .info {
    display: table; /* unless you want to declare a height */
    position: fixed;
        
    width: 45%;
        
    margin: auto 0;
    	
    top: 0;
    bottom: 0;
    left: 60px;
}

body.promo .info p {
    margin: 30px 10px 30px 0;
}

body.promo .hero img {
    position: absolute;
        
    width: 70%;
    height: auto;

    margin: auto;

    top: 0;
    right: -35%;
    bottom: 0;
}

body.promo .info h1 {
    display: block;

    font-size: 2em;
    font-weight: normal;
        
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 0;
    margin-right: 0;
}

body.promo a[role=button] {
    display: inline-block;
    box-sizing: border-box;

    background-color: #fff;
    color: #000;
    text-decoration: none;

    padding: 8px 15px;
    margin-right: 5px;
    margin-bottom: 30px;
        
    border: 2px solid #ececec;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

body.promo a[role=button]:hover {
    background-color: #ececec;
}

body.promo a[role=button].action {
    background-color: #007aff;
    color: #fff;
    border-color: #007aff;
}

body.promo a[role=button].action:hover {
    background-color: #005aff;
    border-color: #005aff;
}

main {
    display: inline-block;

    font-size: 11px;
    font-weight: 300;

    width: 745px;

    padding: 0;
    margin: 0 25px 0 20px;
}

body.section main, body.section side {
    margin-top: 40px;
}

.container {
    display: inline-block;

    width: 745px;
        
    padding: 35px 0 0 20px;
    margin-right: 25px;
}

.essential {
    display: inline-block;
        
    width: 180px;
    height: 180px;

    text-align:center;

    margin: 0;
}

img.icon {
    display:block;

    height: 140px;

    margin: 0 auto 14px auto;
}

.moreinfo {
    display: inline-block;
    vertical-align: top;
   
    width: 550px;
        
    margin: 0 0 0 10px;
}

article#description {
    font-size: 12px;
    font-weight: normal;
    line-height: 16px;
        
    margin-top: 10px;
}

iframe#depiction {
    width: 100%;
    height: auto;

    margin-top: 10px;

    border: none;
}

side {
    display: inline-block;
    position: absolute;

    font-size: 11px;
    font-weight: 300;
        
    width: 210px;

    margin-left: 25px;

    right: 0px;
}

side.package {
    padding-top: 156px;
}

label {
    display: block;
        
    font-size: 13px;
    color: #53565e;

    margin-top: 30px;
}

label.title {
    display: inline-block;
 
    font-weight: normal;
    font-size: 24px;
        
    color: #000;

    margin: 0;
}

#sub {
    display: inline;
    float: right;
    vertical-align: bottom;

    font-size: 11px;
    color: #747474;
    text-decoration: none;
}

#sub:hover {
    text-decoration: underline;
}

side #sub {
    margin-right: 20px;
}

side div label {
    display: block;

    font-size: 11px;
    color: #747474;
        
    margin-top: 6px;
}

side div label p {
    display: inline;

    color: #000;
}

side hr,main hr {
    float: left;

    width: 190px;

    padding: 0;
    margin: 5px 0;

    border: 1px solid #d1d2d3;
    border-left: none;
    border-right: none;
    border-bottom: none;

}

main hr {
    width: 100%;
}

.section {
    color: #000;
    text-decoration: none;
}

.section:hover {
    text-decoration: underline;
}

.link {
    display: block;

    color: #747474;
    text-decoration: none;

    margin: 6px 0 6px 0;
}

.link:hover {
    text-decoration: underline;
}

a[role=button].link {
    display: inline-block;
    box-sizing: border-box;

    font-size: 11px;
    color: #747474;
    text-decoration: none;

    width: 210px;

    padding: 10px 10px;
    margin: 0;

    background-image: url('chevron.svg');
    background-position: 195px center;
    background-repeat: no-repeat;
    -webkit-background-size: 6px 9px;
    background-size: 6px 9px;
}

a[role=button].link:hover {
    text-decoration: underline;
}

a#more1, a#more2, a#more3, a#more4 {
    display: inline-block;

    text-decoration: none;

    width:210px;

    margin-top: 5px;
}

a#more1 img, a#more2 img, a#more3 img, a#more4 img {
    display: inline-block;
        
    width: 38px;
    height: 38px;
}

a#more1 div, a#more2 div, a#more3 div, a#more4 div {
    display: inline-block;
    vertical-align: top;
        
    text-decoration: none;

    max-width: 130px;
        
    margin-left: 5px;
}

a#more1 label, a#more2 label, a#more3 label, a#more4 label {
    display: block;
        
    font-size: 11px;
    color: #000;

    margin: 0;
}

a#more1 label:hover, a#more2 label:hover, a#more3 label:hover, a#more4 label:hover {
    text-decoration: underline;
}

a#more1 p, a#more2 p, a#more3 p, a#more4 p {
    display: block;

    font-size: 10px;
    color: #747474;
        
    margin: 0;
}

a[role=button].buy-button {
    display: inline-block;
    box-sizing: border-box;

    font-size: 14px;
    color: #fff;
    background-color: #007aff;
    text-decoration: none;
        
    padding: 2px 10px;
    margin: 0;
        
    border: 1px solid #007aff;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

a[role=button].buy-button:hover {
    color: #007aff;
    background-color: transparent;
    border-color: #007aff;
}

a[role=button].buy-button[data-price=0] {
    color: #007aff;
    background-color: transparent;
    border-color: #007aff;
}

a[role=button].buy-button[data-price=0]:hover {
    color: #00cc00;
    background-color: transparent;
    border-color: #00cc00;
}