@media screen and (min-width: 1200px) {
    main, .container {
        width:945px;
    }
    .moreinfo {
        width:750px;
    }
}
    
@media screen and (width: 1199px) {
    main, .container {
        width:944px;
    }
    .moreinfo {
        width:749px;
    }
}
    
@media screen and (width: 1198px) {
    main, .container {
        width:943px;
    }
    .moreinfo {
        width:748px;
    }
}

@media screen and (width: 1197px) {
    main, .container {
        width:942px;
    }
    .moreinfo {
        width:747px;
    }
}

@media screen and (width: 1196px) {
    main, .container {
        width:941px;
    }
    .moreinfo {
        width:746px;
    }
}

@media screen and (width: 1195px) {
    main, .container {
        width:940px;
    }
    .moreinfo {
        width:745px;
    }
}

@media screen and (width: 1194px) {
    main, .container {
        width:939px;
    }
    .moreinfo {
        width:744px;
    }
}

@media screen and (width: 1193px) {
    main, .container {
        width:938px;
    }
    .moreinfo {
        width:743px;
    }
}

@media screen and (width: 1192px) {
    main, .container {
        width:937px;
    }
    .moreinfo {
        width:742px;
    }
}

@media screen and (width: 1191px) {
    main, .container {
        width:936px;
    }
    .moreinfo {
        width:741px;
    }
}

@media screen and (width: 1190px) {
    main, .container {
        width:935px;
    }
    .moreinfo {
        width:740px;
    }
}

@media screen and (width: 1189px) {
    main, .container {
        width:934px;
    }
    .moreinfo {
        width:739px;
    }
}

@media screen and (width: 1188px) {
    main, .container {
        width:933px;
    }
    .moreinfo {
        width:738px;
    }
}

@media screen and (width: 1187px) {
    main, .container {
        width:932px;
    }
    .moreinfo {
        width:737px;
    }
}

@media screen and (width: 1186px) {
    main, .container {
        width:931px;
    }
    .moreinfo {
        width:736px;
    }
}

@media screen and (width: 1185px) {
    main, .container {
        width:930px;
    }
    .moreinfo {
        width:735px;
    }
}

@media screen and (width: 1184px) {
    main, .container {
        width:929px;
    }
    .moreinfo {
        width:734px;
    }
}

@media screen and (width: 1183px) {
    main, .container {
        width:928px;
    }
    .moreinfo {
        width:733px;
    }
}

@media screen and (width: 1182px) {
    main, .container {
        width:927px;
    }
    .moreinfo {
        width:732px;
    }
}

@media screen and (width: 1181px) {
    main, .container {
        width:926px;
    }
    .moreinfo {
        width:731px;
    }
}

@media screen and (width: 1180px) {
    main, .container {
        width:925px;
    }
    .moreinfo {
        width:730px;
    }
}

@media screen and (width: 1179px) {
    main, .container {
        width:924px;
    }
    .moreinfo {
        width:729px;
    }
}

@media screen and (width: 1178px) {
    main, .container {
        width:923px;
    }
    .moreinfo {
        width:728px;
    }
}

@media screen and (width: 1177px) {
    main, .container {
        width:922px;
    }
    .moreinfo {
        width:727px;
    }
}

@media screen and (width: 1176px) {
    main, .container {
        width:921px;
    }
    .moreinfo {
        width:726px;
    }
}

@media screen and (width: 1175px) {
    main, .container {
        width:920px;
    }
    .moreinfo {
        width:725px;
    }
}

@media screen and (width: 1174px) {
    main, .container {
        width:919px;
    }
    .moreinfo {
        width:724px;
    }
}

@media screen and (width: 1173px) {
    main, .container {
        width:918px;
    }
    .moreinfo {
        width:723px;
    }
}

@media screen and (width: 1172px) {
    main, .container {
        width:917px;
    }
    .moreinfo {
        width:722px;
    }
}

@media screen and (width: 1171px) {
    main, .container {
        width:916px;
    }
    .moreinfo {
        width:721px;
    }
}

@media screen and (width: 1170px) {
    main, .container {
        width:915px;
    }
    .moreinfo {
        width:720px;
    }
}

@media screen and (width: 1169px) {
    main, .container {
        width:914px;
    }
    .moreinfo {
        width:719px;
    }
}

@media screen and (width: 1168px) {
    main, .container {
        width:913px;
    }
    .moreinfo {
        width:718px;
    }
}

@media screen and (width: 1167px) {
    main, .container {
        width:912px;
    }
    .moreinfo {
        width:717px;
    }
}

@media screen and (width: 1166px) {
    main, .container {
        width:911px;
    }
    .moreinfo {
        width:716px;
    }
}

@media screen and (width: 1165px) {
    main, .container {
        width:910px;
    }
    .moreinfo {
        width:715px;
    }
}

@media screen and (width: 1164px) {
    main, .container {
        width:909px;
    }
    .moreinfo {
        width:714px;
    }
}

@media screen and (width: 1163px) {
    main, .container {
        width:908px;
    }
    .moreinfo {
        width:713px;
    }
}

@media screen and (width: 1162px) {
    main, .container {
        width:907px;
    }
    .moreinfo {
        width:712px;
    }
}

@media screen and (width: 1161px) {
    main, .container {
        width:906px;
    }
    .moreinfo {
        width:711px;
    }
}

@media screen and (width: 1160px) {
    main, .container {
        width:905px;
    }
    .moreinfo {
        width:710px;
    }
}

@media screen and (width: 1159px) {
    main, .container {
        width:904px;
    }
    .moreinfo {
        width:709px;
    }
}

@media screen and (width: 1158px) {
    main, .container {
        width:903px;
    }
    .moreinfo {
        width:708px;
    }
}

@media screen and (width: 1157px) {
    main, .container {
        width:902px;
    }
    .moreinfo {
        width:707px;
    }
}

@media screen and (width: 1156px) {
    main, .container {
        width:901px;
    }
    .moreinfo {
        width:706px;
    }
}

@media screen and (width: 1155px) {
    main, .container {
        width:900px;
    }
    .moreinfo {
        width:705px;
    }
}

@media screen and (width: 1154px) {
    main, .container {
        width:899px;
    }
    .moreinfo {
        width:704px;
    }
}

@media screen and (width: 1153px) {
    main, .container {
        width:898px;
    }
    .moreinfo {
        width:703px;
    }
}

@media screen and (width: 1152px) {
    main, .container {
        width:897px;
    }
    .moreinfo {
        width:702px;
    }
}

@media screen and (width: 1151px) {
    main, .container {
        width:896px;
    }
    .moreinfo {
        width:701px;
    }
}

@media screen and (width: 1150px) {
    main, .container {
        width:895px;
    }
    .moreinfo {
        width:700px;
    }
}

@media screen and (width: 1149px) {
    main, .container {
        width:894px;
    }
    .moreinfo {
        width:699px;
    }
}

@media screen and (width: 1148px) {
    main, .container {
        width:893px;
    }
    .moreinfo {
        width:698px;
    }
}

@media screen and (width: 1147px) {
    main, .container {
        width:892px;
    }
    .moreinfo {
        width:697px;
    }
}

@media screen and (width: 1146px) {
    main, .container {
        width:891px;
    }
    .moreinfo {
        width:696px;
    }
}

@media screen and (width: 1145px) {
    main, .container {
        width:890px;
    }
    .moreinfo {
        width:695px;
    }
}

@media screen and (width: 1144px) {
    main, .container {
        width:889px;
    }
    .moreinfo {
        width:694px;
    }
}

@media screen and (width: 1143px) {
    main, .container {
        width:888px;
    }
    .moreinfo {
        width:693px;
    }
}

@media screen and (width: 1142px) {
    main, .container {
        width:887px;
    }
    .moreinfo {
        width:692px;
    }
}

@media screen and (width: 1141px) {
    main, .container {
        width:886px;
    }
    .moreinfo {
        width:691px;
    }
}

@media screen and (width: 1140px) {
    main, .container {
        width:885px;
    }
    .moreinfo {
        width:690px;
    }
}

@media screen and (width: 1139px) {
    main, .container {
        width:884px;
    }
    .moreinfo {
        width:689px;
    }
}

@media screen and (width: 1138px) {
    main, .container {
        width:883px;
    }
    .moreinfo {
        width:688px;
    }
}

@media screen and (width: 1137px) {
    main, .container {
        width:882px;
    }
    .moreinfo {
        width:687px;
    }
}

@media screen and (width: 1136px) {
    main, .container {
        width:881px;
    }
    .moreinfo {
        width:686px;
    }
}

@media screen and (width: 1135px) {
    main, .container {
        width:880px;
    }
    .moreinfo {
        width:685px;
    }
}

@media screen and (width: 1134px) {
    main, .container {
        width:879px;
    }
    .moreinfo {
        width:684px;
    }
}

@media screen and (width: 1133px) {
    main, .container {
        width:878px;
    }
    .moreinfo {
        width:683px;
    }
}

@media screen and (width: 1132px) {
    main, .container {
        width:877px;
    }
    .moreinfo {
        width:682px;
    }
}

@media screen and (width: 1131px) {
    main, .container {
        width:876px;
    }
    .moreinfo {
        width:681px;
    }
}

@media screen and (width: 1130px) {
    main, .container {
        width:875px;
    }
    .moreinfo {
        width:680px;
    }
}

@media screen and (width: 1129px) {
    main, .container {
        width:874px;
    }
    .moreinfo {
        width:679px;
    }
}

@media screen and (width: 1128px) {
    main, .container {
        width:873px;
    }
    .moreinfo {
        width:678px;
    }
}

@media screen and (width: 1127px) {
    main, .container {
        width:872px;
    }
    .moreinfo {
        width:677px;
    }
}

@media screen and (width: 1126px) {
    main, .container {
        width:871px;
    }
    .moreinfo {
        width:676px;
    }
}

@media screen and (width: 1125px) {
    main, .container {
        width:870px;
    }
    .moreinfo {
        width:675px;
    }
}

@media screen and (width: 1124px) {
    main, .container {
        width:869px;
    }
    .moreinfo {
        width:674px;
    }
}

@media screen and (width: 1123px) {
    main, .container {
        width:868px;
    }
    .moreinfo {
        width:673px;
    }
}

@media screen and (width: 1122px) {
    main, .container {
        width:867px;
    }
    .moreinfo {
        width:672px;
    }
}

@media screen and (width: 1121px) {
    main, .container {
        width:866px;
    }
    .moreinfo {
        width:671px;
    }
}

@media screen and (width: 1120px) {
    main, .container {
        width:865px;
    }
    .moreinfo {
        width:670px;
    }
}

@media screen and (width: 1119px) {
    main, .container {
        width:864px;
    }
    .moreinfo {
        width:669px;
    }
}

@media screen and (width: 1118px) {
    main, .container {
        width:863px;
    }
    .moreinfo {
        width:668px;
    }
}

@media screen and (width: 1117px) {
    main, .container {
        width:862px;
    }
    .moreinfo {
        width:667px;
    }
}

@media screen and (width: 1116px) {
    main, .container {
        width:861px;
    }
    .moreinfo {
        width:666px;
    }
}

@media screen and (width: 1115px) {
    main, .container {
        width:860px;
    }
    .moreinfo {
        width:665px;
    }
}

@media screen and (width: 1114px) {
    main, .container {
        width:859px;
    }
    .moreinfo {
        width:664px;
    }
}

@media screen and (width: 1113px) {
    main, .container {
        width:858px;
    }
    .moreinfo {
        width:663px;
    }
}

@media screen and (width: 1112px) {
    main, .container {
        width:857px;
    }
    .moreinfo {
        width:662px;
    }
}

@media screen and (width: 1111px) {
    main, .container {
        width:856px;
    }
    .moreinfo {
        width:661px;
    }
}

@media screen and (width: 1110px) {
    main, .container {
        width:855px;
    }
    .moreinfo {
        width:660px;
    }
}

@media screen and (width: 1109px) {
    main, .container {
        width:854px;
    }
    .moreinfo {
        width:659px;
    }
}

@media screen and (width: 1108px) {
    main, .container {
        width:853px;
    }
    .moreinfo {
        width:658px;
    }
}

@media screen and (width: 1107px) {
    main, .container {
        width:852px;
    }
    .moreinfo {
        width:657px;
    }
}

@media screen and (width: 1106px) {
    main, .container {
        width:851px;
    }
    .moreinfo {
        width:656px;
    }
}

@media screen and (width: 1105px) {
    main, .container {
        width:850px;
    }
    .moreinfo {
        width:655px;
    }
}

@media screen and (width: 1104px) {
    main, .container {
        width:849px;
    }
    .moreinfo {
        width:654px;
    }
}

@media screen and (width: 1103px) {
    main, .container {
        width:848px;
    }
    .moreinfo {
        width:653px;
    }
}

@media screen and (width: 1102px) {
    main, .container {
        width:847px;
    }
    .moreinfo {
        width:652px;
    }
}

@media screen and (width: 1101px) {
    main, .container {
        width:846px;
    }
    .moreinfo {
        width:651px;
    }
}

@media screen and (width: 1100px) {
    main, .container {
        width:845px;
    }
    .moreinfo {
        width:650px;
    }
}

@media screen and (width: 1099px) {
    main, .container {
        width:844px;
    }
    .moreinfo {
        width:649px;
    }
}
    
@media screen and (width: 1098px) {
    main, .container {
        width:843px;
    }
    .moreinfo {
        width:648px;
    }
}

@media screen and (width: 1097px) {
    main, .container {
        width:842px;
    }
    .moreinfo {
        width:647px;
    }
}

@media screen and (width: 1096px) {
    main, .container {
        width:841px;
    }
    .moreinfo {
        width:746px;
    }
}

@media screen and (width: 1095px) {
    main, .container {
        width:840px;
    }
    .moreinfo {
        width:745px;
    }
}

@media screen and (width: 1094px) {
    main, .container {
        width:839px;
    }
    .moreinfo {
        width:644px;
    }
}

@media screen and (width: 1093px) {
    main, .container {
        width:838px;
    }
    .moreinfo {
        width:643px;
    }
}

@media screen and (width: 1092px) {
    main, .container {
        width:837px;
    }
    .moreinfo {
        width:642px;
    }
}

@media screen and (width: 1091px) {
    main, .container {
        width:836px;
    }
    .moreinfo {
        width:641px;
    }
}

@media screen and (width: 1090px) {
    main, .container {
        width:835px;
    }
    .moreinfo {
        width:640px;
    }
}

@media screen and (width: 1089px) {
    main, .container {
        width:834px;
    }
    .moreinfo {
        width:639px;
    }
}

@media screen and (width: 1088px) {
    main, .container {
        width:833px;
    }
    .moreinfo {
        width:638px;
    }
}

@media screen and (width: 1087px) {
    main, .container {
        width:832px;
    }
    .moreinfo {
        width:637px;
    }
}

@media screen and (width: 1086px) {
    main, .container {
        width:831px;
    }
    .moreinfo {
        width:636px;
    }
}

@media screen and (width: 1085px) {
    main, .container {
        width:830px;
    }
    .moreinfo {
        width:635px;
    }
}

@media screen and (width: 1084px) {
    main, .container {
        width:829px;
    }
    .moreinfo {
        width:634px;
    }
}

@media screen and (width: 1083px) {
    main, .container {
        width:828px;
    }
    .moreinfo {
        width:633px;
    }
}

@media screen and (width: 1082px) {
    main, .container {
        width:827px;
    }
    .moreinfo {
        width:632px;
    }
}

@media screen and (width: 1081px) {
    main, .container {
        width:826px;
    }
    .moreinfo {
        width:631px;
    }
}

@media screen and (width: 1080px) {
    main, .container {
        width:825px;
    }
    .moreinfo {
        width:630px;
    }
}

@media screen and (width: 1079px) {
    main, .container {
        width:824px;
    }
    .moreinfo {
        width:629px;
    }
}

@media screen and (width: 1078px) {
    main, .container {
        width:823px;
    }
    .moreinfo {
        width:628px;
    }
}

@media screen and (width: 1077px) {
    main, .container {
        width:822px;
    }
    .moreinfo {
        width:627px;
    }
}

@media screen and (width: 1076px) {
    main, .container {
        width:821px;
    }
    .moreinfo {
        width:626px;
    }
}

@media screen and (width: 1075px) {
    main, .container {
        width:820px;
    }
    .moreinfo {
        width:625px;
    }
}

@media screen and (width: 1074px) {
    main, .container {
        width:819px;
    }
    .moreinfo {
        width:624px;
    }
}

@media screen and (width: 1073px) {
    main, .container {
        width:818px;
    }
    .moreinfo {
        width:623px;
    }
}

@media screen and (width: 1072px) {
    main, .container {
        width:817px;
    }
    .moreinfo {
        width:622px;
    }
}

@media screen and (width: 1071px) {
    main, .container {
        width:816px;
    }
    .moreinfo {
        width:621px;
    }
}

@media screen and (width: 1070px) {
    main, .container {
        width:815px;
    }
    .moreinfo {
        width:620px;
    }
}

@media screen and (width: 1069px) {
    main, .container {
        width:814px;
    }
    .moreinfo {
        width:619px;
    }
}

@media screen and (width: 1068px) {
    main, .container {
        width:813px;
    }
    .moreinfo {
        width:618px;
    }
}

@media screen and (width: 1067px) {
    main, .container {
        width:812px;
    }
    .moreinfo {
        width:617px;
    }
}

@media screen and (width: 1066px) {
    main, .container {
        width:811px;
    }
    .moreinfo {
        width:616px;
    }
}

@media screen and (width: 1065px) {
    main, .container {
        width:810px;
    }
    .moreinfo {
        width:615px;
    }
}

@media screen and (width: 1064px) {
    main, .container {
        width:809px;
    }
    .moreinfo {
        width:614px;
    }
}

@media screen and (width: 1063px) {
    main, .container {
        width:808px;
    }
    .moreinfo {
        width:613px;
    }
}

@media screen and (width: 1062px) {
    main, .container {
        width:807px;
    }
    .moreinfo {
        width:612px;
    }
}

@media screen and (width: 1061px) {
    main, .container {
        width:806px;
    }
    .moreinfo {
        width:611px;
    }
}

@media screen and (width: 1060px) {
    main, .container {
        width:805px;
    }
    .moreinfo {
        width:610px;
    }
}

@media screen and (width: 1059px) {
    main, .container {
        width:804px;
    }
    .moreinfo {
        width:609px;
    }
}

@media screen and (width: 1058px) {
    main, .container {
        width:803px;
    }
    .moreinfo {
        width:608px;
    }
}

@media screen and (width: 1057px) {
    main, .container {
        width:802px;
    }
    .moreinfo {
        width:607px;
    }
}

@media screen and (width: 1056px) {
    main, .container {
        width:801px;
    }
    .moreinfo {
        width:606px;
    }
}

@media screen and (width: 1055px) {
    main, .container {
        width:800px;
    }
    .moreinfo {
        width:605px;
    }
}

@media screen and (width: 1054px) {
    main, .container {
        width:799px;
    }
    .moreinfo {
        width:604px;
    }
}

@media screen and (width: 1053px) {
    main, .container {
        width:798px;
    }
    .moreinfo {
        width:603px;
    }
}

@media screen and (width: 1052px) {
    main, .container {
        width:797px;
    }
    .moreinfo {
        width:602px;
    }
}

@media screen and (width: 1051px) {
    main, .container {
        width:796px;
    }
    .moreinfo {
        width:601px;
    }
}

@media screen and (width: 1050px) {
    main, .container {
        width:795px;
    }
    .moreinfo {
        width:600px;
    }
}

@media screen and (width: 1049px) {
    main, .container {
        width:794px;
    }
    .moreinfo {
        width:599px;
    }
}

@media screen and (width: 1048px) {
    main, .container {
        width:793px;
    }
    .moreinfo {
        width:598px;
    }
}

@media screen and (width: 1047px) {
    main, .container {
        width:792px;
    }
    .moreinfo {
        width:597px;
    }
}

@media screen and (width: 1046px) {
    main, .container {
        width:791px;
    }
    .moreinfo {
        width:596px;
    }
}

@media screen and (width: 1045px) {
    main, .container {
        width:790px;
    }
    .moreinfo {
        width:595px;
    }
}

@media screen and (width: 1044px) {
    main, .container {
        width:789px;
    }
    .moreinfo {
        width:594px;
    }
}

@media screen and (width: 1043px) {
    main, .container {
        width:788px;
    }
    .moreinfo {
        width:593px;
    }
}

@media screen and (width: 1042px) {
    main, .container {
        width:787px;
    }
    .moreinfo {
        width:592px;
    }
}

@media screen and (width: 1041px) {
    main, .container {
        width:786px;
    }
    .moreinfo {
        width:591px;
    }
}

@media screen and (width: 1040px) {
    main, .container {
        width:785px;
    }
    .moreinfo {
        width:590px;
    }
}

@media screen and (width: 1039px) {
    main, .container {
        width:784px;
    }
    .moreinfo {
        width:589px;
    }
}

@media screen and (width: 1038px) {
    main, .container {
        width:783px;
    }
    .moreinfo {
        width:588px;
    }
}

@media screen and (width: 1037px) {
    main, .container {
        width:782px;
    }
    .moreinfo {
        width:587px;
    }
}

@media screen and (width: 1036px) {
    main, .container {
        width:781px;
    }
    .moreinfo {
        width:586px;
    }
}

@media screen and (width: 1035px) {
    main, .container {
        width:780px;
    }
    .moreinfo {
        width:585px;
    }
}

@media screen and (width: 1034px) {
    main, .container {
        width:779px;
    }
    .moreinfo {
        width:584px;
    }
}

@media screen and (width: 1033px) {
    main, .container {
        width:778px;
    }
    .moreinfo {
        width:583px;
    }
}

@media screen and (width: 1032px) {
    main, .container {
        width:777px;
    }
    .moreinfo {
        width:582px;
    }
}

@media screen and (width: 1031px) {
    main, .container {
        width:776px;
    }
    .moreinfo {
        width:581px;
    }
}

@media screen and (width: 1030px) {
    main, .container {
        width:775px;
    }
    .moreinfo {
        width:580px;
    }
}

@media screen and (width: 1029px) {
    main, .container {
        width:774px;
    }
    .moreinfo {
        width:579px;
    }
}

@media screen and (width: 1028px) {
    main, .container {
        width:773px;
    }
    .moreinfo {
        width:578px;
    }
}

@media screen and (width: 1027px) {
    main, .container {
        width:772px;
    }
    .moreinfo {
        width:577px;
    }
}

@media screen and (width: 1026px) {
    main, .container {
        width:771px;
    }
    .moreinfo {
        width:576px;
    }
}

@media screen and (width: 1025px) {
    main, .container {
        width:770px;
    }
    .moreinfo {
        width:575px;
    }
}

@media screen and (width: 1024px) {
    main, .container {
        width:769px;
    }
    .moreinfo {
        width:574px;
    }
}

@media screen and (width: 1023px) {
    main, .container {
        width:768px;
    }
    .moreinfo {
        width:573px;
    }
}

@media screen and (width: 1022px) {
    main, .container {
        width:767px;
    }
    .moreinfo {
        width:572px;
    }
}

@media screen and (width: 1021px) {
    main, .container {
        width:766px;
    }
    .moreinfo {
        width:571px;
    }
}

@media screen and (width: 1020px) {
    main, .container {
        width:765px;
    }
    .moreinfo {
        width:570px;
    }
}

@media screen and (width: 1019px) {
    main, .container {
        width:764px;
    }
    .moreinfo {
        width:569px;
    }
}

@media screen and (width: 1018px) {
    main, .container {
        width:763px;
    }
    .moreinfo {
        width:568px;
    }
}

@media screen and (width: 1017px) {
    main, .container {
        width:762px;
    }
    .moreinfo {
        width:567px;
    }
}

@media screen and (width: 1016px) {
    main, .container {
        width:761px;
    }
    .moreinfo {
        width:566px;
    }
}

@media screen and (width: 1015px) {
    main, .container {
        width:760px;
    }
    .moreinfo {
        width:565px;
    }
}

@media screen and (width: 1014px) {
    main, .container {
        width:759px;
    }
    .moreinfo {
        width:564px;
    }
}

@media screen and (width: 1013px) {
    main, .container {
        width:758px;
    }
    .moreinfo {
        width:563px;
    }
}

@media screen and (width: 1012px) {
    main, .container {
        width:757px;
    }
    .moreinfo {
        width:562px;
    }
}

@media screen and (width: 1010px) {
    main, .container {
        width:756px;
    }
    .moreinfo {
        width:561px;
    }
}

@media screen and (width: 1010px) {
    main, .container {
        width:755px;
    }
    .moreinfo {
        width:560px;
    }
}

@media screen and (width: 1009px) {
    main, .container {
        width:754px;
    }
    .moreinfo {
        width:559px;
    }
}

@media screen and (width: 1008px) {
    main, .container {
        width:753px;
    }
    .moreinfo {
        width:558px;
    }
}

@media screen and (width: 1007px) {
    main, .container {
        width:752px;
    }
    .moreinfo {
        width:557px;
    }
}

@media screen and (width: 1006px) {
    main, .container {
        width:751px;
    }
    .moreinfo {
        width:556px;
    }
}

@media screen and (width: 1005px) {
    main, .container {
        width:750px;
    }
    .moreinfo {
        width:555px;
    }
}

@media screen and (width: 1004px) {
    main, .container {
        width:749px;
    }
    .moreinfo {
        width:554px;
    }
}

@media screen and (width: 1003px) {
    main, .container {
        width:748px;
    }
    .moreinfo {
        width:553px;
    }
}

@media screen and (width: 1002px) {
    main, .container {
        width:747px;
    }
    .moreinfo {
        width:552px;
    }
}

@media screen and (width: 1001px) {
    main, .container {
        width:746px;
    }
    .moreinfo {
        width:551px;
    }
}

@media screen and (max-width: 1000px) {
    main, .container {
        width:745px;
    }
    .moreinfo {
        width:550px;
    }
}