doctype html
html(lang="en")
        head
                base(target="_top")

                title Featured

                link(rel="stylesheet", href="/stylia/style.css")

                meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
                meta(name="format-detection", content="telephone=no")

                link(rel="shortcut icon", href="/icon@2x/chariz.png")
                link(rel="apple-touch-icon", href="/icon@2x/chariz.png")

                script(src="/stylia/style.js")

style
| .header {height:300px}
| sub {display:inline;float:right;}
| .side sub {margin-right:20px}

        body
                .header

                .main
                        label Best New Tweaks
                                sub
                                    a.link(href="") See All
                                hr
                                div

                        label Best New Themes
                                sub
                                    a.link(href="") See All
                                hr
                                div

                .side
                        label Quick Links
                        hr
                        div
                                label
                                    a.link(href="") Sign In
                                label
                                    a.link(href="") Account
                                label
                                    a.link(href="") More Package Sources
                                label
                                    a.link(href="") Support

                        label Paid Packages
                                sub
                                    a.link(href="") See All
                                hr
                                div
