doctype html
html(lang="en")
    head
        base(target="_top")

        title Featured

        link(rel="stylesheet", href="/stylia/style.css")

        meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
        meta(name="format-detection", content="telephone=no")

        link(rel="shortcut icon", href="/icon@2x/chariz.png")
        link(rel="apple-touch-icon", href="/icon@2x/chariz.png")

        script(src="/stylia/style.js")

    style
        | .carousel {display:block;overflow:hidden;margin:0 20px 0 20px;max-width:1160px;-webkit-border-bottom-right-radius: 13px;-webkit-border-bottom-left-radius: 13px;-moz-border-radius-bottomright: 13px;-moz-border-radius-bottomleft: 13px;border-bottom-right-radius: 13px;border-bottom-left-radius: 13px;}
        | .carousel img {height:300px}
        | .items {min-width:750px;max-width:1000px;}
        | .item {display:inline-block;width:250px;height:75px;margin-bottom:30px;}
        | .item img {display:inline-block;width:75px;height:75px;}
        | .item div {display:inline-block;vertical-align:top;text-decoration:none;width:170px;margin-left:5px;}
        | .item label {display:block;font-size:11px;color:#000;margin:0;}
        | .item label:hover {text-decoration:underline;}
        | .item p {display:block;font-size:10px;color:#747474;margin:0;}

    body
        .carousel
            img(src="/carousel/monster.png")

        main
                label Best New Tweaks
                    a#sub(href="") See All
                    hr
                    .items
                        - featuredPackages.forEach(function(package) {
                            .item
                                a(href="/package/" + package.identifier)
                                    img(src="/icon/" + package.identifier + "/128.png")
                                    div
                                        label= package.name
                                        p= package.section
                        - });

        side
            label Quick Links
            hr
            a.link(href="") Sign In
            a.link(href="") Account
            a.link(href="") More Package Sources
            a.link(href="") Support

            label Top Packages
                a#sub(href="") See All
                hr
                div
