doctype html
html(lang="en")
    head
        base(target="_top")

        title Chariz Installer

        link(rel="stylesheet", href="/stylia/style.css")

        meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
        meta(name="format-detection", content="telephone=no")

        link(rel="shortcut icon", href="/icon@2x/chariz.png")
        link(rel="apple-touch-icon", href="/icon@2x/chariz.png")

        script(src="/stylia/style.js")

    body(class="promo")
        .info
            h1 Welcome to Chariz!
            p Thanks for trying Chariz, we'll need to install some essential files to your system, click continue and enter your password to start the installation process.
            p We'll walk you through the setup step by step where needed.
            a(href="/learn", role="button") Learn More
            a#continue.action(href="#", role="button") Continue


        .hero
            img(src="/hero/IntroHeroWelcome@2x.png")

        script(type='text/javascript').
            document.querySelector("#continue").addEventListener("click", function(e) {
                cynthia.beginSetup(true);
                e.preventDefault();
            });